<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalResultado" class="row" th:fragment="modalRegistroResultado" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Formulario de Resultado</legend>
			<form id="formResultadoExamenMedico" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/resultado/modalRegistroResultado :: ${tipo}}?:~{}">
				</th:block>
				<div id="botonesForm" class="form-group">
					<div class="col-lg-12 text-center">
						<button id="registrarResultado" type="button" class="btn btn-success">
							<i class="fa fa-floppy-o"></i> Registrar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<th:block th:fragment="psicologia">
		<div class="form-group">
			<label class="col-lg-2 control-label">Resultado</label>
			<div class="col-lg-10">
				<label th:each="resultadoPsicologico : ${resultadosPsicologico}" class="radio-inline">
					<input type="radio" class="resultadoPsicologico"
						th:checked="${resultadoPsicologico.idItem == 'N'}" name="idResultadoPsicologico"
						th:value="${resultadoPsicologico.idItem}">
					[[${resultadoPsicologico.idItem}]] - [[${resultadoPsicologico.descripcionItem}]]
				</label>
			</div>
		</div>
		<div id="divObservacion" class="form-group hidden">
			<label class="col-lg-2 control-label">Observación</label>
			<div class="col-lg-10">
				<div class="input-group">
					<input id="observacion" class="form-control upperCase" disabled="disabled" name="observacion">
					<span class="input-group-btn">
						<button id="editarObservacion" class="btn btn-primary" title="Editar" data-tooltip="tooltip"
							type="button">
							<i class="fa fa-pencil-square"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="laboratorio">
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">RPR</label>
				<div class="col-lg-4">
					<select id="indicadoresRPR" class="form-control select2" name="idRPR">
						<option value="" disabled="disabled" selected="selected">Seleccione un RPR</option>
						<option th:each="indicadorRPR : ${indicadoresRPR}" th:value="${indicadorRPR.idItem}"
							th:text="|${indicadorRPR.idItem} - ${indicadorRPR.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div id="divDilucion" class="group">
				<label class="col-lg-2 control-label">Dilución</label>
				<div class="col-lg-4">
					<select id="diluciones" class="form-control select2" name="dilucion" disabled="disabled">
						<option value="" disabled="disabled" selected="selected">Seleccione una Dilución</option>
						<option th:each="dilucion : ${diluciones}" th:value="${dilucion.idItem}"
							th:text="|1 : ${dilucion.descripcionItem}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Hemograma</label>
				<div class="col-lg-4">
					<select id="indicadoresHemograma" class="form-control select2" name="idHemograma">
						<option value="" disabled="disabled" selected="selected">Seleccione un Hemograma</option>
						<option th:each="indicadorHemograma : ${indicadoresHemograma}"
							th:value="${indicadorHemograma.idItem}"
							th:text="|${indicadorHemograma.idItem} - ${indicadorHemograma.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-2 control-label">Hemoglobina</label>
				<div class="col-lg-4">
					<div class="input-group">
						<input id="hemoglobina" type="text" class="form-control" name="hemoglobina" maxlength="5" />
						<span id="estadoHemoglobina" class="input-group-addon">NINGUNO</span>
					</div>
				</div>
			</div>
		</div>
		<div id="divObservacion" class="form-group">
			<label class="col-lg-2 control-label">Observación</label>
			<div class="col-lg-10">
				<textarea id="observacion" cols="30" rows="4" class="form-control upperCase" name="observacion"></textarea>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="radiologico">
		<div class="form-group">
			<label class="col-lg-2 control-label">Resultado</label>
			<div class="col-lg-10">
				<select id="resultadosRadiologico" class="form-control select2" name="idResultadoRadiologico">
					<option value="" disabled="disabled" selected="selected">Seleccione un Resultado</option>
					<option th:each="resultadoRadiologico : ${resultadosRadiologico}"
						th:if="${resultadoRadiologico.idItem != 'G'}"
						th:value="${resultadoRadiologico.idItem}"
						th:text="|${resultadoRadiologico.idItem} - ${resultadoRadiologico.descripcionItem}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Observación</label>
			<div class="col-lg-10">
				<textarea id="observacion" cols="30" class="form-control upperCase" name="observacion" disabled="disabled"></textarea>
			</div>
		</div>
	</th:block>

</body>
</html>