<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div class="page-sidebar">
		<ul class="x-navigation">
			<li id="tituloClinica" class="xn-logo">
				<a>Facultad de Ciencias Contables</a> 
				<a href="#" class="x-navigation-control"></a>
			</li>
			<li id="imagen" class="xn-profile">
				<a class="profile-mini">
					<img th:src="@{/resources/image/icono_logo_unmsm.jpg}">
				</a>
				<div class="profile">
					<img th:src="@{/resources/image/logo_barra_lateral.png}" width="100%" />
				</div>
			</li>
			<li class="xn-title">Navegación</li>
			<th:block sec:authorize="isAuthenticated()">
			<li><a th:href="@{/inicio}">
					<span class="fa fa-home"></span> Inicio
				</a>
			</li>
			<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL') or hasPermission('3','ALL')"
				class="xn-openable">
				<a title='Cargas' data-tooltip='tooltip'>
					<span class="fa fa-upload"></span> 
					<span class="xn-text">Cargas</span>
				</a>
				<ul>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL')">
						<a th:href="@{/carga/alumno}">
							<span class="fa fa-upload"></span> 
							<span> Cargar Ingresos</span>
						</a>
					</li>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')">
						<a th:href="@{/carga/alumno}">
							<span class="fa fa-upload"></span> 
							<span> Cargar Egresos</span>
						</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL') or hasPermission('5','ALL')" 
				class="xn-openable">
				<a title='Ingresos' data-tooltip='tooltip'>
					<span class="fa fa-usd"></span> 
					<span class="xn-text">Ingresos</span>
				</a>
				<ul>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL')">
						<a th:href="@{/ingresos/ingresos}">
							<span class="fa fa-list-alt"></span> 
							<span>Registro</span>
						</a>
					</li>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL') or hasPermission('5','ALL')">
						<a th:href="@{/ingresos/reporte}">
							<span class="fa fa-file"></span> 
							<span>Reportes</span>
						</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL') or hasPermission('4','ALL') 
				or hasPermission('5','ALL')" class="xn-openable">
				<a title='Egresos' data-tooltip='tooltip'>
					<span class="fa fa-usd"></span> 
					<span class="xn-text">Egresos</span>
				</a>
				<ul>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('4','ALL')" class="xn-openable">
						<a>
							<span class="fa fa-institution"></span>
							<span> USGOM</span>
						</a>
						<ul>
							<li sec:authorize="hasPermission('1','ALL') or hasPermission('4','ALL')">
								<a th:href="@{/egresos/usgom/programacionGastos}">
									<span class="fa fa-file-text-o"></span>
									<span> Programación de Gasto</span>
								</a>
							</li>	
							<li sec:authorize="hasPermission('1','ALL') or hasPermission('4','ALL')">
								<a th:href="@{/egresos/usgom/compromisoGastos}">
									<span class="fa fa-file-text-o"></span>
									<span> Compromiso de Gasto</span>
								</a>
							</li>				
						</ul>
					</li>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')" class="xn-openable">
						<a>
							<span class="fa fa-institution"></span>
							<span> Planificación</span>
						</a>
						<ul>	
							<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')">
								<a th:href="@{/egresos/planificacion/programacionGastos}">
									<span class="fa fa-file-text-o"></span>
									<span> Programación de Gasto</span>
								</a>
							</li>
							<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')">
								<a th:href="@{/egresos/planificacion/compromisoGastos}">
									<span class="fa fa-file-text-o"></span>
									<span> Compromiso de Gasto</span>
								</a>
							</li>				
						</ul>
					</li>
				</ul>
			</li>
			<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL') or hasPermission('3','ALL')"
				class="xn-openable">
				<a title='Presupuesto' data-tooltip='tooltip'>
					<span class="fa fa-usd"></span> 
					<span class="xn-text">Presupuesto</span>
				</a>
				<ul>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL') or hasPermission('3','ALL')">
						<a th:href="@{/presupuesto/inicial}">
							<span class="fa fa-list-alt"></span>
							<span> Iniciales</span>
						</a>
					</li>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL')">
						<a th:href="@{/presupuesto/ingreso}">
							<span class="fa fa-list-alt"></span>
							<span> Ingresos</span>
						</a>
					</li>
					<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')">
						<a th:href="@{/presupuesto/egreso}">
							<span class="fa fa-list-alt"></span>
							<span> Egresos</span>
						</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="hasPermission('1','ALL')" class="xn-openable">
				<a title='Mantenimiento' data-tooltip='tooltip'>
					<span class="fa fa-wrench"></span> 
					<span class="xn-text">Mantenimiento</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/mantenimiento/unidad}">
							<span class="fa fa-wrench"></span> Unidad
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/concepto}">
							<span class="fa fa-wrench"></span> Concepto
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/meta}">
							<span class="fa fa-wrench"></span> Meta
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/tarea}">
							<span class="fa fa-wrench"></span> Tarea
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/partida}">
							<span class="fa fa-wrench"></span> Partida
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/curso}">
							<span class="fa fa-wrench"></span> Curso
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/persona}">
							<span class="fa fa-wrench"></span> Persona
						</a>
					</li>
					<li>
						<a th:href="@{/mantenimiento/multitabcab}">
							<span class="fa fa-wrench"></span> Tabla de Tablas
						</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="hasPermission('1','ALL')" class="xn-openable">
				<a title='Seguridad' data-tooltip='tooltip'>
					<span class="fa fa-unlock-alt"></span> 
					<span class="xn-text">Seguridad</span>
				</a>
				<ul>
					<li>
						<a th:href="@{/seguridad/usuario}">
							<span class="fa fa-users"></span>
							<span> Usuarios</span>
						</a>
					</li>
					<li>
						<a th:href="@{/seguridad/perfil}">
							<span class="fa fa-users"></span>
							<span> Perfiles</span>
						</a>
					</li>
				</ul>
			</li>
			</th:block>
		</ul>
	</div>
	<div class="page-content">
		<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
			<li class="xn-icon-button">
				<a href="#" class="x-navigation-minimize">
					<span class="fa fa-dedent"></span>
				</a>
			</li>
			<li>
				<a class="navbar-brand" style="font-size: 20px; color: black;">
					<span>SIRCIE</span>
				</a>
			</li>
			<li class="pull-right">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-user"></i> 
					<span th:text="|Usuario : ${#httpSession.getAttribute('nombreUsuario')}|" style="color: black;"></span>
					<span class=" fa fa-angle-down"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a th:href="@{/logout}">
							<i class="fa fa-sign-out pull-right"></i> Salir
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>