<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalMantenimiento" class="row" th:fragment="modalMantenimiento" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Formulario de Mantenimiento</legend>
			<form id="formMantenimiento" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/ingresos/modalMantenimiento :: ${tipo}}?:~{}">
				</th:block>
				<div id="botonesForm" class="form-group">
					<div class="col-lg-12 text-center">
						<button id="registrarMantenimiento" type="button" class="btn btn-success">
							<i class="fa fa-floppy-o"></i> Registrar
						</button>
						<button id="actualizarMantenimiento" type="button" class="btn btn-primary hidden">
							<i class="fa fa-pencil-square"></i> Actualizar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<th:block th:fragment="ingresos">
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Datos del Aportante</legend>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nombres</label>
						<div class="col-lg-4">
							<input class="form-control upperCase" name="nombresCliente" 
							data-skip-falsy="true" data-value-type="string">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Apellidos</label>
						<div class="col-lg-4">
							<input class="form-control upperCase" name="apellidosCliente" data-skip-falsy="true" 
							data-value-type="string">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Tipo de Documento</label>
						<div class="col-lg-4">
							<select id="tiposDocumento" class="form-control select2 elemento-desactivable" name="tipoDocCliente">
								<option value="" disabled="disabled" selected="selected">
									Seleccione un tipo de Documento
								</option>
								<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
									th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
							</select>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Nro. de Documento</label>
						<div class="col-lg-4">
							<input class="form-control numbersOnly elemento-desactivable" name="nroDocCliente" data-skip-falsy="true" 
							data-value-type="string">
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-xs-12">
			<fieldset class="well">
				<legend class="well-legend">Datos del Ingreso</legend>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Unidad</label>
						<div class="col-lg-10">
							<select id="unidades" class="form-control select2 elemento-desactivable" name="codigoUnidad">
								<option value="" disabled="disabled" selected="selected">
									Seleccione una Unidad
								</option>
								<option th:each="unidad : ${unidades}" th:value="${unidad.codigoUnidad}"
									th:text="|${unidad.nroConcepto} - ${unidad.nombreUnidad}|"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Concepto</label>
						<div class="col-lg-10">
							<select id="conceptos" class="form-control select2 elemento-desactivable" name="idConcepto">
								<option value="" disabled="disabled" selected="selected">
								Seleccione un Concepto de pago</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Curso</label>
						<div class="col-lg-10">
							<select id="cursos" class="form-control select2" name="codigoCurso">
								<option value="" disabled="disabled" selected="selected">Seleccione un Curso</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Importe</label>
						<div class="col-lg-4">
							<input id="importe" class="form-control numbersOnly" maxlength="8" readonly="readonly" 
							data-skip-falsy="true" data-value-type="string">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Importe Descontado</label>
						<div class="col-lg-4">
							<input class="form-control numbersOnlyAndDot" maxlength="8" name="importeDescontado" 
							data-skip-falsy="true" data-value-type="string">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nro. de Cuota</label>
						<div class="col-lg-4">
							<input class="form-control numbersOnly" maxlength="2" name="nroCuota" 
							data-skip-falsy="true" data-value-type="string">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Descripcíón (Razón del descuento)</label>
						<div class="col-lg-4">
							<textarea class="form-control" name="descDescuento" style="resize: none;"
							rows = "3" data-skip-falsy="true" data-value-type="string"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Tipo de Moneda</label>
						<div class="col-lg-4">
							<select id="tiposMoneda" class="form-control select2 elemento-desactivable" name="tipoMoneda">
								<option value="" disabled="disabled" selected="selected">
									Seleccione un tipo de Moneda
								</option>
								<option th:each="tipoMoneda : ${tiposMoneda}" th:value="${tipoMoneda.idItem}"
									th:text="|${tipoMoneda.idItem} - ${tipoMoneda.descripcionItem}|"></option>
							</select>
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Tipo de Cambio</label>
						<div class="col-lg-4">
							<input class="form-control numbersOnlyAndDot elemento-desactivable" name="tipoCambio" 
							data-skip-falsy="true" data-value-type="string" maxlength="4">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Nro. de Voucher</label>
					<div class="col-lg-4">
						<input class="form-control numbersOnly" name="nroVoucher" data-skip-falsy="true" 
						data-value-type="string" maxlength="15">
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nro. de Factura</label>
						<div class="col-lg-4">
							<input class="form-control numbersOnly" maxlength="15" name="nroFactura" 
							data-skip-falsy="true" data-value-type="string">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Fecha de Voucher</label>
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input id="fechaVF" type="text" class="form-control elemento-desactivable" name="fechaVF"/>
							</div>						
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="group">
						<label class="col-lg-2 control-label">Nro. Recibo de Ingreso</label>
						<div class="col-lg-4">
							<input class="form-control numbersOnly" maxlength="15" name="nroReciboIngreso" 
							data-skip-falsy="true" data-value-type="string">
						</div>
					</div>
					<div class="group">
						<label class="col-lg-2 control-label">Fecha de Recibo de Ingreso</label>
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								<input id="fechaRI" type="text" class="form-control" name="fechaRI"/>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</th:block>

</body>
</html>