<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalMantenimiento" class="row" th:fragment="modalMantenimiento" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Formulario de Mantenimiento</legend>
			<form id="formMantenimiento" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/presupuesto/modalMantenimiento :: ${tipo}}?:~{}">
				</th:block>
				<div id="botonesForm" class="form-group">
					<div class="col-lg-12 text-center">
						<button id="registrarMantenimiento" type="button" class="btn btn-success">
							<i class="fa fa-floppy-o"></i> Registrar
						</button>
						<button id="actualizarMantenimiento" type="button" class="btn btn-primary hidden">
							<i class="fa fa-pencil-square"></i> Actualizar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
	
	
	<th:block th:fragment="egreso">
		<div class="form-group">
			<label class="col-lg-2 control-label">Unidad</label>
			<div class="col-lg-10">
				<select id="unidades" class="form-control select2" name="codigoUnidad">
					<option value="" disabled="disabled" selected="selected">Elija unidad</option>
					<option th:each="unidad : ${unidades}" th:value="${unidad.codigoUnidad}"
						th:text="|${unidad.codigoUnidad} - ${unidad.nombreUnidad}|"></option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-2 control-label">Tarea</label>
			<div class="col-lg-10">
				<select id="tareas" class="form-control select2" name="codigoTarea">
					<option value="" disabled="disabled" selected="selected">Elija tarea</option>
					<option th:each="tarea: ${tareas}" th:value="${tarea.codigoTarea}"
						th:text="|${tarea.codigoTarea} - ${tarea.nomTarea}|"></option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-2 control-label">Partida</label>
			<div class="col-lg-10">
				<select id="partidas" class="form-control select2" name="clasificador">
					<option value="" disabled="disabled" selected="selected">Elija partida</option>
					<option th:each="partida: ${partidas}" th:value="${partida.clasificador}"
						th:text="|${partida.clasificador} - ${partida.descripcion}|"></option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Mes</label>
					<div class="col-lg-4">
						<select id="meses" class="form-control select2"
							name="idMes">
							<option value="" disabled="disabled" selected="selected">Elija Mes</option>
							<option th:each="mes : ${meses}" th:value="${mes.idItem}"
								th:text="|${mes.idItem} - ${mes.abreviatura}|"></option>
						</select>
					</div>
					
			</div>
			<div class="group">
				<label class="col-lg-2 control-label">Año</label>
					<div class="col-lg-4">
							<input id="egresoAño" class="form-control numbersOnly" maxlength="4" name="año">
					</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Importe</label>
					<div class="col-lg-4">
							<input class="form-control numbersOnlyAndDot" name="importe">
					</div>
			</div>
			<div class="group">
				<label class="col-lg-2 control-label">Inicial</label>
					<div class="col-lg-4">
							<input id="inicialRegistro" class="form-control numbersOnlyAndDot" name="inicial">
					</div>
			</div>
		</div>
		
	</th:block>
	
	<th:block th:fragment="ingreso">
		<div class="form-group">
			<label class="col-lg-2 control-label">Unidad</label>
			<div class="col-lg-10">
				<select id="unidades" class="form-control select2" name="codigoUnidad">
					<option value="" disabled="disabled" selected="selected">Seleccione una unidad</option>
					<option th:each="unidad : ${unidades}" th:value="${unidad.codigoUnidad}"
						th:text="|${unidad.codigoUnidad} - ${unidad.nombreUnidad}|"></option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-2 control-label">Concepto</label>
			<div class="col-lg-10">
				<select id="conceptos" class="form-control select2" name="idConcepto">
					<option value="" selected="selected">Seleccione un Concepto</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-lg-2 control-label">Partida</label>
			<div class="col-lg-10">
				<select id="partidas" class="form-control select2" name="clasificador">
					<option value="" selected="selected">Seleccione una partida</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Mes</label>
					<div class="col-lg-4">
						<select id="meses" class="form-control select2"
							name="idMes">
							<option value="" disabled="disabled" selected="selected">Elija Mes</option>
							<option th:each="mes : ${meses}" th:value="${mes.idItem}"
								th:text="|${mes.idItem} - ${mes.abreviatura}|"></option>
						</select>
					</div>
					
			</div>
			<div class="group">
				<label class="col-lg-2 control-label">Año</label>
					<div class="col-lg-4">
							<input id="ingresoAño" class="form-control numbersOnly" maxlength="4"  name="año">
					</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Importe</label>
					<div class="col-lg-4">
							<input class="form-control numbersOnlyAndDot" name="importe" >
					</div>
			</div>
			<div class="group">
				<label class="col-lg-2 control-label">Inicial</label>
					<div class="col-lg-4">
							<input id="inicialRegistro" class="form-control numbersOnlyAndDot" name="inicial" >
					</div>
			</div>
		</div>
		
	</th:block>
	
	<th:block th:fragment="inicial">
		<div class="form-group">
			<label class="col-lg-3 control-label">Inicial</label>
				<div class="col-lg-8">
						<input class="form-control numbersOnlyAndDot" name="inicial" >				
				</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Año</label>
				<div class="col-lg-8">
						<input class="form-control numbersOnly" maxlength="4"  name="año">
				</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Tipo</label>
				<div class="col-lg-8">
					<select id="tipos" class="form-control select2"name="idTipo">
						<option value="" disabled="disabled" selected="selected">Elija tipo de inicial</option>
						<option th:value="ingreso"
								th:text="Ingreso"></option>
						<option th:value="egreso"
								th:text="Egreso"></option>		
					</select>
				</div>
					
		</div>
	</th:block>
</body>
</html>