<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="modalMantenimiento" class="row" th:fragment="modalMantenimiento" th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Formulario de Mantenimiento</legend>
			<form id="formMantenimiento" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/mantenimiento/modalMantenimiento :: ${tipo}}?:~{}">
				</th:block>
				<div id="botonesForm" class="form-group">
					<div class="col-lg-12 text-center">
						<button id="registrarMantenimiento" type="button" class="btn btn-success">
							<i class="fa fa-floppy-o"></i> Registrar
						</button>
						<button id="actualizarMantenimiento" type="button" class="btn btn-primary hidden">
							<i class="fa fa-pencil-square"></i> Actualizar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>
	
	
	<th:block th:fragment="unidad">
		<div class="form-group">
			<label class="col-lg-2 control-label">Código de Unidad</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable" name="codigoUnidad">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre de unidad</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="nombreUnidad">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Número de Concepto</label>
			<div class="col-lg-10">
				<input class="form-control numbersOnly" name="nroConcepto" maxlength="3">
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="concepto">
		<div class="form-group">
			<label class="col-lg-2 control-label">Unidad</label>
			<div class="col-lg-10">
				<select id="unidades" class="form-control select2 elemento-desactivable" name="codigoUnidad">
					<option value="" disabled="disabled" selected="selected">
						Seleccione una Unidad
					</option>
					<option th:each="unidad : ${unidades}" th:value="${unidad.codigoUnidad}"
						th:text="|${unidad.nroConcepto} - ${unidad.nombreUnidad}|">
					</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Número Concepto</label>
			<div class="col-lg-10">
				<input class="form-control numbersOnly" maxlength="3" name="nroConceptoEsp">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre Concepto</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="nomConceptoEsp">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripción Concepto</label>
			<div class="col-lg-10">
				<textarea class="form-control upperCase" name="descConceptoEsp" style="resize: none;"
				rows = "3"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Importe</label>
			<div class="col-lg-4">
				<input class="form-control" maxlength="8" name="importe">
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="meta">
		<div class="form-group">
			<label class="col-lg-2 control-label">Número de Meta</label>
			<div class="col-lg-10">
				<input class="form-control numbersOnly elemento-desactivable" name="nroMeta">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre de Meta</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="nomMeta">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripción</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="desMeta">
			</div>
		</div>
	</th:block>

	<th:block th:fragment="tarea">
		<div class="form-group">
			<label class="col-lg-2 control-label">Unidad responsable</label>
			<div class="col-lg-10">
				<select id="unidades" class="form-control select2" name="codigoUnidad">
					<option value="" disabled="disabled" selected="selected">Elija Unidad</option>
					<option th:each="unidad : ${unidades}" th:value="${unidad.codigoUnidad}"
						th:text="|${unidad.codigoUnidad} - ${unidad.nombreUnidad}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Meta</label>
			<div class="col-lg-10">
				<select id="metas" class="form-control select2" name="nroMeta">
					<option value="" disabled="disabled" selected="selected">Elija Meta</option>
					<option th:each="meta : ${metas}" th:value="${meta.nroMeta}"
						th:text="|${meta.nroMeta} - ${meta.nomMeta}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Código de Tarea</label>
			<div class="col-lg-10">
				<input class="form-control numbersOnly elemento-desactivable" name="codigoTarea">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre de Tarea</label>
			<div class="col-lg-10">
				<textarea class="form-control upperCase" name="nomTarea" style="resize: none;"
				rows = "3" data-skip-falsy="true" data-value-type="string"></textarea>
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="partida">
		<div class="form-group">
			<label class="col-lg-2 control-label">Tarea</label>
			<div class="col-lg-10">
				<select id="tareas" class="form-control select2" name="codigoTarea">
					<option value="" disabled="disabled" selected="selected">Elija Tarea</option>
					<option th:each="tarea: ${tareas}" th:value="${tarea.codigoTarea}"
						th:text="|${tarea.codigoTarea} - ${tarea.nomTarea}|"></option>
				</select>
			</div>
		</div>		
		<div class="form-group">
			<label class="col-lg-2 control-label">Clasificador</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable" name="clasificador">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripción</label>
			<div class="col-lg-10">
				<textarea class="form-control upperCase" name="descripcion" style="resize: none;"
				rows = "2"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripción Detallada</label>
			<div class="col-lg-10">
				<textarea class="form-control upperCase" name="descDetallada" style="resize: none;"
				rows = "5"></textarea>
			</div>
		</div>
	</th:block>
	
	<th:block th:fragment="curso">
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Unidad</label>
				<div class="col-lg-10">
					<select id="unidades" class="form-control select2" name="codigoUnidad">
						<option value="" disabled="disabled" selected="selected">
							Seleccione una Unidad
						</option>
						<option th:each="unidad : ${unidades}" th:value="${unidad.codigoUnidad}"
							th:text="|${unidad.nroConcepto} - ${unidad.nombreUnidad}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Código</label>
			<div class="col-lg-10">
				<input class="form-control upperCase elemento-desactivable" name="codigoCurso">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="nombreCurso">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Semestres</label>
			<div class="col-lg-10">
				<input class="form-control numbersOnly" name="nroSemestres">
			</div>
		</div>		
	</th:block>
	
	<th:block th:fragment="persona">
		<div class="form-group">
			<label class="col-lg-2 control-label">Tipo de Documento</label>
			<div class="col-lg-10">
				<select id="tiposDocumento" class="form-control select2 elemento-desactivable"
					name="idTipoDocumento">
					<option value="" disabled="disabled" selected="selected">Seleccione un Tipo de
						Documento</option>
					<option th:each="tipoDocumento : ${tiposDocumento}" th:value="${tipoDocumento.idItem}"
						th:text="|${tipoDocumento.idItem} - ${tipoDocumento.abreviatura}|"></option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Número de Documento</label>
			<div class="col-lg-10">
				<input class="form-control elemento-desactivable" name="numeroDocumento">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Nombres</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="nombres">
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="col-lg-2 control-label">Apellido Paterno</label>
				<div class="col-lg-4">
					<input class="form-control upperCase" name="apellidoPaterno">
				</div>
			</div>
			<div class="group">
				<label class="col-lg-2 control-label">Apellido Materno</label>
				<div class="col-lg-4">
					<input class="form-control upperCase" name="apellidoMaterno">
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="multiTabCab">
		<div class="form-group">
			<label class="col-lg-2 control-label">Descripción</label>
			<div class="col-lg-10">
				<input class="form-control upperCase" name="descripcion">
			</div>
		</div>
	</th:block>

</body>
</html>